$gray-lighter: #eceeef !default;
$image_path: '/assets/images/' !default;

$prefix: 'sigin';

.#{$prefix} {
  &-conainer {
    min-height: 100%;
    background-size: cover;
    padding: 100px;
  }

  &-main {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}

.full-width {
  width: 100%;
}

.help {
}

.is-danger {
}

.redirect {
  font-size: 14px;
  color: #00aaaa;
  cursor: pointer;
  text-align: right;
}

.form {
  background-image: url('../../../assets/login.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .layout {
    width: 30%;
  }
}
