<mat-sidenav-container class="container" fullscreen>
  <mat-sidenav [mode]="sideNavMode" class="sidenav" #sidenav [opened]="sideNavOpened" style="overflow: hidden;">
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <img src="./assets/logo.png" width="36px" style="border-radius: 50%; margin-right: 10px;">
      <h1 class="logo">
        HiiT
        <span style="font-size: 12px;">Consulting</span>
      </h1>
    </mat-toolbar>
   <app-sidemenu></app-sidemenu>
  </mat-sidenav>
  <mat-sidenav-content style="z-index: unset;overflow: hidden;">
    <mat-drawer-container fullscreen>
      <mat-drawer mode="side" #drawer class="drawer" [opened]="matDrawerOpened" style="overflow: hidden;">
        <mat-toolbar color="primary" class="mat-elevation-z4">
          <img src="./assets/logo.png" width="36px" style="border-radius: 50%;">
        </mat-toolbar>
      <app-sidemenu [iconOnly]="true"></app-sidemenu>
      </mat-drawer>
      <mat-drawer-content style="overflow: hidden;">
        <app-toolbar [sidenav]="sidenav"
                     [drawer]="drawer" [sidebar]="sidenav2"
                     [matDrawerShow]="matDrawerShow"
                     style="z-index: 500">
        </app-toolbar>
        <perfect-scrollbar style="height: calc(100% - 33px);" [@routerTransition]="getState(o)">
          <router-outlet #o="outlet"></router-outlet>
        </perfect-scrollbar>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-sidenav-content>

  <mat-sidenav #sidenav2 position="end" mode="over">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

</mat-sidenav-container>






