.table-header {
  background-color: #327ebd;
  color: white;
  padding: 0 5px;
}
.table-container {
  padding: 5px 15px 15px 15px;
}
.table-component-holder {
  border: 1px solid #327ebd;
  background-color: white;
}
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}
